* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Roboto Slab', sans-serif;
    background-color: #f8f8f8;
    color: #121212;
}

.title {
    padding: 20px;
    text-align: center;
    background-color: #EAEFF2;
}

.title h1 {
    text-align: center;
    font-size: 30px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

p {
    text-align: center;
    color: black;
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 30px;
}

.list {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.page,
.page2,
.page3 {
    display: block;
    margin: 0 auto;
}

.select-dropdown {
    position: relative;
    background-color: #e6e6e6;
    width: auto;
    max-width: 100%;
    border-radius: 2px;
}

.select-dropdown select {
    font-family: "helvetica neue", helvetica;
    font-size: 1rem;
    font-weight: 200;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-dropdown select:active,
.select-dropdown select:focus {
    outline: none;
    box-shadow: none;
}

.select-dropdown:after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #aaa;
}

.select-dropdown2, .select-dropdown3 {
    position: relative;
    background-color: #e6e6e6;
    width: auto;
    max-width: 100%;
    border-radius: 2px;
}

.select-dropdown2 select, .select-dropdown3 select {
    font-family: "helvetica neue", helvetica;
    font-size: 1rem;
    font-weight: 200;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-dropdown2 select:active,
.select-dropdown2 select:focus,
.select-dropdown3 select:active,
.select-dropdown3 select:focus {
    outline: none;
    box-shadow: none;
}

.select-dropdown2:after,
.select-dropdown3:after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #aaa;
}


.k-anonymity {
    width: 20%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.k-anonymity:focus {
    background-color: #ddd;
    outline: none;
}

.anonymizeBtn-container {
    text-align: center;
}

.anonymizeBtn {
    width: 20%;
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    height: 52px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.anonymizeBtn:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}

.anonymizeBtn:active {
    outline: 0;
}

.anonymizeBtn :focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
    .title .add-password-btn {
        height: 48px;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(51, 51, 51, 0.7);
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #121212;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
